h1 {
    padding-bottom: 10px;
}

hr {
    border: solid 1px burlywood;
}

div {
    font-size: 18px;
    font-weight: bold;
}

body {
    background-color: bisque;
    background-image: radial-gradient(bisque, white);
    text-align: center;
    
}

.display {
    font-size: 30px;
}

.jumbotron{
    height: 200px;
    background-image: url("../images/scrabble.jpg");

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    border-top: 2px solid burlywood;
    font-size: 15px;
}